.pagrindinis{
    background-color: yellow;
    display: flex;
    align-content: center;
    width: 100%;
}
.flexPirmas{
    display: flex;
    height: 50px;
    background-color:antiquewhite;
    flex-wrap: nowrap;
    align-items:center;
    align-content: space-around;
}
.flexAntras{
    display: block;
    display: flex;
    height: 200px;
    width: 200px;
    flex-wrap: nowrap;
    align-content: space-around;
    width: 100%;
    flex-grow: 1;
}
.meniu{
    height: 30px;
    width: 20%;
}
.mygtukasPirmas{
    height: 20px;
    background-color: aquamarine;
    flex-grow: 1;
}
.mygtukasAntras{
    background-color: antiquewhite;
    height: 20px;
}